* {
    margin: 0;
    padding: 0;
}

.user-page-wrapper {
    display: flex;
    width: 70vw;
    margin: 0 auto;
}

/* right-side */

.right-side-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50vw;
    border-bottom: 7px solid antiquewhite;
    padding-bottom: 10px;
}

.user-posts {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* side_menu */

.left-side-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 20vw;
    border-right: 7px solid antiquewhite;
}

.side-menu-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 5vw;
}

.menu-option {
    width: 120px;
    height: 30px;
    background-color: antiquewhite;
    border-radius: 10px;
    text-align: center;
    line-height: 25px;
    color: brown;
    border: 2px solid wheat;
    font-size: large;
    font-weight: 700;
    cursor: pointer;
}

.menu-option:hover {
    background-color: beige;
    transition: 0.5s;
    border: 2px solid gray;
}

.search-users-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.search-user-card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-bottom: 1px solid rosybrown;
    padding-bottom: 10px;
}

.search-user-info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.subscribe-button {
    cursor: pointer;
}

.previous-messages-wrapper {
    height: 20vw;
}

.textarea-wrapper {
    display: flex;
}